body {
  margin: 0;
  /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;*/
  font-family: 'Gotu', sans-serif;
  font-family: 'Inria Serif', serif;
  font-family: 'Lusitana', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/*
#animated-poem {
  float: left;
  background-color: yellow;
  width: 50%;
  height: 100vh;
  white-space: pre-wrap;
}*/

#animated-input {
  display: table-cell;
  /*vertical-align: middle;*/
  border: 2px dashed red;
  white-space: pre-wrap;
  height: 100vh;
}


#fullscreen-forms {
  border: 2px solid;
  border-radius: 4px;
  padding: 10px;
  background: gray;
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100px;
  box-sizing: border-box;
  border-spacing: 10px;
}

.on-top {
  z-index: 999;
}