body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#animated-poem {
  position: absolute; 
  float: left;
  top: 0;
  right: 200;
  bottom: 200;
  left: 200;
  width: 50%; height: 50%;
  color: black;
  background-color: yellow;
}

#animated-translation {
  position: absolute; 
  float: right;
  top: 0;
  right: 200;
  bottom: 200;
  left: 200;
  width: 50%; height: 50%;
  color: black;
  background-color: green;
}

.on-top {
  z-index: 999;
}